* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

form {
    max-width: 700px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.container {
    width: 1024px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-nav ul {
    margin: 1em 0.5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #384047;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #1e4b9b;
    cursor: pointer;
}

.current {
    font-weight: bold;
    font-size: large;
}

a.current {
    text-decoration: underline;
    color: #1e4b9b;
}

.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row>label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row>input {
    flex: 2;
}

.form-row>input,
.form-row>button {
    padding: .5em;
}

.form-row>button {
    background: gray;
    color: white;
    border: 0;
}

.submit-btn,
.cancel-btn {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #1e4b9b;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #fff;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

@media screen and (max-width: 367px) {
    .form-row>input {
        flex: 4;
    }

    .main-nav li {
        display: block;
    }

    .footer-header .container {
        justify-content: center;
    }

}
